@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: auto; /* Allow vertical scroll by default */
  scroll-behavior: smooth;
}

@media (min-width: 640px) {
  html, body {
    overflow-y: hidden;
  }
}
